@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

* {
  color: white;
  font-family: "DM Sans", sans-serif;
}
body {
  overflow-x: hidden;
}
/* Nav */
#nav {
  width: 300px;
  height: 100vh;
  background-color: black;
  padding: 10px;
  padding-bottom: 150px;
  position: fixed;
  top: 0px;
  /* left: 0px; */
  overflow-y: scroll;
}
#nav::-webkit-scrollbar {
  display: none;
}
#logo {
  padding: 10px;
  padding-right: 100px;
}
#logo > img {
  width: 100%;
}
#nav > div > div,
#nav-install {
  display: flex;
  align-items: center;
}

#nav-top > div,
#nav-middle > div {
  height: 61.761px;
  padding: 10px;
}
#nav-top > div:hover,
#nav-middle > div:hover,
#nav-install:hover {
  border-radius: 6px;
  background: #282828;
}
#nav-top > div > i {
  width: 37.057px;
  height: 37.057px;
  flex-shrink: 0;
}
#nav-top > div > a,
#nav-middle > div > span,
#nav-install > span {
  padding-left: 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
#nav-top {
  margin-top: 10px;
}
#nav-middle {
  margin-top: 30px;
}
#nav-bottom {
  margin-top: 20px;
}
.box {
  width: 37.057px;
  height: 37.057px;
  flex-shrink: 0;
}
/* .box > i {
  width: 100%;
  height: 100%;
} */
#box-1 {
  border-radius: 1px;
  background: #fff;
}

#box-2 {
  border-radius: 1px;
  background: linear-gradient(
    135deg,
    #4000f4 0%,
    #603aed 22.48%,
    #7c6ee6 46.93%,
    #979fe1 65.71%,
    #a2b3de 77.68%,
    #adc8dc 88.93%,
    #c0ecd7 100%
  );
}

#box-3 {
  border-radius: 5px;
  background: #004638;
}
#nav-bottom > ul {
  list-style-type: none;
  padding-inline: 10px;
}
#nav-bottom > ul > li {
  padding: 10px;
}

#nav-install {
  padding: 10px;
}

/* Music player bottom */

#musicPlayer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}
#musicPlayer-left {
  position: fixed;
  left: 15px;
  bottom: 30px;
}
#musicPlayer-right {
  position: fixed;
  right: 12px;
  bottom: 50px;
}
#musicPlayer-options {
  position: fixed;
  left: 260px;
  bottom: 30px;
  cursor: pointer;
}
#device {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20px;
  display: flex;
  align-items: center;
  background: #1ed760;
}
#device p {
  position: absolute;
  bottom: -15px;
  right: 100px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  /* line-height: normal; */
}
#device > svg {
  position: absolute;
  bottom: 20px;
  right: 190px;
}
main {
  width: 100vw;
  padding-left: 325px;
  padding-right: 25px;
  padding-bottom: 130px;
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    #222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    rgba(18, 18, 18, 0) 100%
  );
}
nav {
  position: sticky;
  top: 0px;
  padding: 10px 10px;
  width: 100%;
  background-color: #000;
  z-index: 1;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}
#playlistGrid > h2 {
  padding-top: 40px;
}
.grid-card {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 50px;
  width: 181px;
  border-radius: 4px;
  background: #303030;
  margin-top: 10px;
  transition: all 2s ease;
}

.grid-card:hover {
  transform: scale(1.3, 1.3);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.grid-card p {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
  padding-top: 15px;
  padding-left: 5px;
}
.grid-card > div {
  height: 50px;
  width: 50px;
}

.grid-card > div > img {
  height: 100%;
  width: 100%;
}
#featured {
  margin: 50px;
}
.featured-card {
  width: 251.292px;
  height: 305.904px;
  flex-shrink: 0;
  background: #181818;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-top: 20px;
  transition: all 1s linear;
}
.featured-card:hover {
  background-color: #282828;
  transform: translate(-10px, -10px);
  cursor: pointer;
}
.featured-card div {
  width: 207.778px;
  height: 207.928px;
  flex-shrink: 0;
}

.featured-card > div img {
  width: 100%;
  height: 100%;
}
.featured-card h3 {
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.42px;
}
.featured-card p {
  color: #b3b3b3;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.15px;
}



@media screen and (max-width: 1100px){
  #musicPlayer-right{
    display: none !important ;
  }
  #device{
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  /* #musicPlayer-options{
    display: none;
  }
  #musicPlayer-left{
    display: none;
  } */
  #musicPlayer{
    display: none !important;
  }
  #nav{
    display: none !important;
  }
  main {
    width: 100vw !important;
    padding : 10px !important;
  }
  #featured {
    margin: 10px !important;
  }
}
